/vendor/
node_modules/
npm-debug.log
yarn-error.log

.env
.env.*
!.env.example

/public/storage
/public/build
/storage/*.key
.phpunit.result.cache
.phpunit.cache

# Laravel Sail
docker-compose.override.yml

# IDEs & System
.idea/
.vscode/
.DS_Store
Thumbs.db
